
.ArtistsTile{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ArtistsTile h3{
    display: flex;
    text-align: left;
    font-family: 'Fugaz One', cursive;
    flex: 0.6;
    color: black;
    width: 100%;
}

.ArtistsTile h4{
    display: flex;
    text-align: right;
    color: black;
    font-family: 'Fugaz One', cursive;
}

a{
    color: black;
}

a:hover{
    text-decoration: underline;
}


