
.ArtistsTile{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h3{
    display: flex;
    float: left;
    flex: 0.6;
    color: black
}

h2{
    display: flex;
    float: right;
}

a{
    color: black
}

a:hover{
    text-decoration: underline;
}


