@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Gloock&display=swap');

.ArtistsTile{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ArtistsTile h4{
    display: flex;
    text-align: left;
    font-family: 'Gloock', serif;
    flex: 0.6;
    color: black;
    width: 100%;
}

.ArtistsTile h5{
    display: flex;
    text-align: right;
    color: black;
    font-family: 'Gloock', serif;
}

a{
    color: black;
}

a:hover{
    text-decoration: underline;
    color: rgb(245, 230, 230);
}


